spring:
  application:
    name: order-service
  datasource:
    url: jdbc:mysql://localhost:3306/orderdb
    userName: root
    password: root
  jpa:
    hibernate:
      ddl-auto: none
server:
  port: 8081
Inventory:
  url: http://localhost:8082
